{% extends '@SyliusShop/Checkout/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}Capture Payment | {{ parent() }}{% endblock %}

{% set ngrok_url = 'https://83ba-41-117-161-13.ngrok.io' %}

{% set rand_total = order.getTotal() / 100 %}
{% set order_name = 'Clutch Kick Classics Order (' ~ order.customer.email ~ ') :' ~ order.id %}
{% set payfast_return_url = app.environment == 'prod' ? 'https://clutchkickclassics.co.za/process-payment/' ~ order.id : ngrok_url ~ '/clutch_kick_classics/public/process-payment/' ~ order.id %}
{% set payfast_cancel_url = app.environment == 'prod' ? 'https://clutchkickclassics.co.za' :  ngrok_url ~ '/clutch_kick_classics/public/' %}

{#***LIVE***#}
{#{% set payfast_url = 'https://www.payfast.co.za/eng/process?cmd=_paynow' %}#}
{#{% set payfast_merchant_id = '18952301' %}#}

{#***SANDBOX***#}
{% set payfast_url = 'https://sandbox.payfast.co.za/eng/process?cmd=_paynow' %}
{% set payfast_merchant_id = '10024793' %}

{% block content %}

    <div class="ui stackable grid">
        <div class="eleven wide column">
            <div class="ui padded segment" id="sylius-shipping-methods">
                <a
                    href="{{ payfast_url }}&amp;receiver={{ payfast_merchant_id }}&amp;item_name={{ order_name | raw }}&amp;amount={{ rand_total }}&amp;return_url={{ payfast_return_url }}&amp;cancel_url={{ payfast_cancel_url }}" >
                    <img src="https://www.payfast.co.za/images/buttons/dark-large-paynow.png" width="174" height="59" alt="Pay" title="Pay Now with PayFast" />
                </a>
            </div>
        </div>
        <div class="five wide column">
            {{ sylius_template_event(['sylius.shop.checkout.select_shipping.sidebar', 'sylius.shop.checkout.sidebar'], _context) }}
        </div>
    </div>
{% endblock %}
