<div class="four wide column">
    <h4 class="ui inverted header">{{ 'sylius.ui.your_store'|trans }}</h4>
    <div class="ui inverted link list">
        <a href="{{ path('sylius_the_car') }}" class="item">Vehicle Information</a>
        <a href="{{ path('sylius_how_to_enter') }}" class="item">How to Enter</a>
        <a href="{{ path('sylius_terms_and_conditions') }}" class="item">{{ 'sylius.ui.terms_and_conditions'|trans }}</a>
        <a href="{{ path('sylius_privacy_policy') }}" class="item">{{ 'sylius.ui.privacy_policy'|trans }}</a>
    </div>
</div>
