{% deprecated 'The "@SyliusShop/Email/orderConfirmation.html.twig" template is deprecated since Sylius 1.8 and will be removed in Sylius 2.0, use "@SyliusCore/Email/layout.html.twig" instead.' %}
{% extends '@SyliusShop/Email/layout.html.twig' %}

{% block subject %}
    Clutch Kick Entry
{% endblock %}

{% block content %}
    <style>
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            width: 100%;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
        .styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }
        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }
        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
    </style>

    <h2 style="text-align: center;">Purchase Successful!</h2>
    <p>
        Dear {{ order.getBillingAddress().getFirstName() ~ ' '  ~ order.getBillingAddress().getLastName() }},
    </p>
    <p>
        Thank you for your purchase from <a style="color: #1abb9c; text-decoration: none;" target="_blank" href="https://www.clutchkickclassics.co.za/">clutchkickclassics.co.za</a>.
        Please find your entry number/s for the giveaway below.
        Good Luck!
    </p>

    <ul style="list-style: none;">
        <li>Name: <span style="font-weight: bold">{{ order.getBillingAddress().getFirstName() ~ ' '  ~ order.getBillingAddress().getLastName() }}</span></li>
        <li>Email: <span style="font-weight: bold">{{ order.customer.email }}</span></li>
        <li>Phone: <span style="font-weight: bold">{{ order.getBillingAddress().getPhoneNumber() }}</span></li>
        <li>Order Reference: <span style="font-weight: bold">#{{ order.number }}</span></li>
    </ul>

    <table class="styled-table">
        <thead>
        <tr>
            <th>Item Description</th>
            <th>Entry Number</th>
        </tr>
        </thead>
        <tbody>
        {% for item in order.getItems  %}
            {% for unit in item.getUnits %}
                <tr>
                    <td>{{ item.productName }}</td>
                    <td>{{ unit.entryNumber }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <img style="width: 100%;" src="{{ absolute_url(asset('assets/shop/img/banner.jpg')) }}" alt="Armstrong">

{% endblock %}
